.Vessel {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #2b2b2b;
    color: #eeeeee;
    font-size: 20px;
    overflow: hidden;

    .Map {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}